<div class="container text-center mt-3 mb-3">
   <table class="table table-success">
      <tr>
         <th colspan="8">
            <h1 class="text text-primary">STUDENT LIST</h1>
         </th>
         <th>
            <a class="btn btn-primary" href="/student/add">Add</a>
         </th>
      </tr>
      <tr>
         <th>Name</th>
         <th>DOB</th>
         <th>Gender</th>
         <th>Department</th>
         <th>Class</th>
         <th>Image</th>
         <th>GPA</th>
         <th>Student Year</th>
         <th>Menu</th>
      </tr>
      {{#each students }}
            <tr>
               <td>{{ name }}</td>
               <td>{{ dateFormat dob "DD-MM-YYYY"}}</td>
               <td>{{ gender }}</td>
               <td>{{ department }}</td>
               <td>{{ class }}</td>
               <td>
                  <img src="{{ image }}" width="100" height="100">
               </td>
               <td>{{ gpa }}</td>
               <td>{{ studentYear }}</td>
               <td>
                  <a class="btn btn-warning" href="/student/edit/{{ _id }}">Edit</a>
                  <a class="btn btn-danger" href="/student/delete/{{ _id }}" onclick="return confirm('Are you sure to delete this student ?');">Delete</a>
               </td>
            </tr>
      {{/each}}
   </table>
</div>